@media(max-width: 375px){
	html, body{
		margin:0px;
	}
	h1{
		font-family: Poppins;
		width: 75%;
		margin: 15px auto;
		font-size: 1.5em;
	}
	div{
		display: flex;
		flex-direction: column;
		text-align: center;
		font-family: Open Sans;
		font-weight: 400;
	}
	header{
		width:100%;
		display: inline-flex;
		padding-top:20px;
		padding-bottom: 100px;
	}
	header div{
		width:50%;
	}
	header div#logo{
		padding-left: 10px;
	}
	header div#button{
		display: flex;
		padding-right: 10px;
		flex-direction: row;
		justify-content: flex-end;
	}
	header div img{
		width:100px;
	}
	div p{
		font-family: Open Sans;
		margin: auto;
		font-size: 0.9em;
	}
	
	input[type=button]{
		border-radius: 20px;
		border: 1px solid hsl(322, 100%, 66%);
		background-color: transparent;
		color: hsl(322, 100%, 66%);
		width: 70px;
		height: 20px;
		font-size: 10px;
	}
	#description{
		width:80%;
		padding-bottom: 50px;
	}

	#second-button{
		padding-bottom: 120px
	}
	#third-button{
		padding-top: 120px;
		padding-bottom: 120px;
	}
	#third-button h1{
		padding-bottom: 30px;
	}
	#second-button input, #third-button input{
		margin:auto;
		width: 220px;
		height:40px;
		border-radius: 20px;
		font-weight: 600;
		background-color: hsl(322, 100%, 66%);
		color: white;
		box-shadow: 2px 4px 2px rgba(0,0,0,0.2) , -2px 4px 2px rgba(0,0,0,0.2);
	}

	#img-mockups{
		width:90%;
		margin: auto;
		display: flex;
		padding-bottom: 150px
	}


	#details{
		display: flex;
		margin: auto;
		width:95%;
	}
	#communities-icon , #messages-icon{
		width: 50%;
		display: block;
		margin: 0px auto;
	}
	#communities-icon img, #messages-icon img{
		width:20%;
		padding-right: 70%;
	}
	#communities-info, #messages-info{
		font-size: 18px;
		padding-bottom: 150px;
	}
	#communities-info p, #messages-info p{
		font-size: 3.5em;
		font-weight: 700;
	}
	#communities-icon, #messages-icon {
	}
	#top-top, #top-bottom, #top1-top, #top1-bottom {
		height:100px;
	}
	#top-bottom, #top1-bottom, #bottom-top{

		height:52px;
	}
	#top-top{
		background-image: url('../images/bg-section-top-mobile-1.svg');
	}
	#top-bottom{
		background-image: url('../images/bg-section-bottom-mobile-1.svg');
	}
	#top1-top{
		background-image: url('../images/bg-section-top-mobile-2.svg');
	}
	#top1-bottom{
		background-image: url('../images/bg-section-bottom-mobile-2.svg');
	}
	#bottom-top{
		background-image: url('../images/bg-footer-top-mobile.svg');
	}
	#grow-together, #conversation, #users{
		padding: 80px 0px;
		flex-direction: column-reverse;
	}
	div div h1{
		font-size: 1.3em;
		width: 90%;
	}
	#grow-together, #users{background-color: hsl(207, 100%, 98%);}
	#grow-together div, #conversation div, #users div{
		width:85%;
		margin: auto;
	}
	#grow-together div img, #conversation div img, #users div img{
		width:100%;
		padding-bottom: 50px;
	}

	#footer{
		background-color: hsl(192, 100%, 9%);
		display: flex;
		flex-direction: column-reverse;
		color: white;
		width:100%
	}
	#footer div, #footer div p{
		text-align: left;
	}
	#footer div p{
		width: 80%;
		margin: 0px;
		font-size: 11px;
		padding-bottom: 5px;
	}
	#footer div{
		margin: 30px;
	}
	#footer-left img{
		width: 150px;
		padding-bottom: 20px;
	}
	#footer-left p img{
		width: 10px;
		padding-right: 3px;
		padding-top: 3px;
		padding: 3px 3px 0px 0px;
	}
	#footer-left #contacts{
		padding-top: 20px
		padding-left 0px;
		margin-left: 0px;
	}
	#bottom-logo{
		filter: grayscale(100%) contrast(10) invert(1);
	}
	#subscribe{
		padding-top: 30px;
		margin: 0px!important;
		display: flex;
		flex-direction: column;
	}
	#subscribe input[type=email]{
		height: 30px;
		margin-bottom: 10px;
		border: none;
		border-radius: 5px
	}
	#subscribe input[type=submit]{
		width: 130px;
		height: 35px;
		color: white;
		font-family: Open Sans;
		font-weight: 600;
		background-color: hsl(322, 100%, 66%);
		align-self: flex-end;
		border-radius: 5px
		border: none;
	}
	.upper{
		padding-top: 100px;
		padding-bottom: 25px;
		text-transform: uppercase;
		font-size: 16px!important;
		font-weight: 600;
	}
	#social{
	}
	#social i{
		font-size: 30px;
	}

	footer{
		width: 100%
	}

	.attribution {font-size: 11px; text-align: center; }
	.attribution a { color: hsl(228, 45%, 44%); }
}


@media(max-width: 800px){
	#footer{
		width: 100%;
		flex-direction: column!important;
	}
	#footer-right{
		width:70%!important;
		margin: auto!important;
	}
	#footer-left{
		width:70%!important;
		margin: auto!important;
	}
}

@media{
	html, body{
		margin: 0px auto!important;
		float: none !important;
		width:100%;
		text-align: center;
		font-family: Open Sans;
		margin: 0px;
		max-width: 1440px;

	}
	h1{
		font-family: Poppins;
	}
	section{
		display: flex;
		flex-direction: column;
		width: 100%;
	}
	div{
		padding: 50px 0px;
		margin: 0px auto;
		font-size: 12px;
		font-weight: 400;
		text-align: center;
	}
	div h1{
		font-size: 30px;
	}
	header{
		padding: 0px 2px;
		display: inline-flex;
		width: 95%;
	}
	header div{
		width:50%;
		display: flex;
	}
	header div#logo{
		justify-content: flex-start;
	}
	header div#logo img{
		width: 200px;
		height: 100%
	}
	header div#button{
		justify-content: flex-end;
	}
	input[type=button]{
		height:30px;
		width: 100px;
		border: 1px solid hsl(322, 100%, 66%);
		background-color: transparent;
		border-radius: 20px;

		color: hsl(322, 100%, 66%);
	}
	#description{
	 	display: flex;
	 	margin: auto;
		width:46%;
		padding-bottom: 20px;
		font-size: 14px;
	}

	#second-button{
		padding-bottom:80px;
	}
	#third-button{
		padding: 200px 0px;
		width: 80%;
	}
	#second-button input, #third-button input{
		width: 300px;
		height: 60px;
		border-radius: 50px;
		background-color: hsl(322, 100%, 66%);
		color: white;
		font-size: 16px;
		font-weight: 600;
		box-shadow: 2px 4px 2px rgba(0,0,0,0.2) , -2px 4px 2px rgba(0,0,0,0.2);
	}

	#img-mockups{
		width:100%;
	}

	#details{
		display: flex;
		margin: 0px;
		flex-direction: row;
	}
	#communities-icon, #messages-icon{
		padding:0px;
	}
	#communities-info, #messages-info{
		font-weight: 400;
		font-size:20px;
		padding: 0px;
		margin: 0px;
	}
	#communities-info p, #messages-info p{
		font-size: 4em;
		font-weight: 700;
		padding: 0px;
		margin: 0px;
	}
	#communities-icon, #messages-icon {
		display: flex;
		margin: 0px;
		justify-content: flex-start;
	}
	#communities-icon img, #messages-icon img{
		width:40px;
	}
	#top-top, #top-bottom, #top1-top, #top1-bottom, #bottom-top {
		width: 100%;
		height:150px;
		padding: 0px;
	}
	#top-bottom, #top1-bottom{
		width: 100%;
		height:140px;
		padding: 0px;
	}
	#top-top{
		background-image: url('../images/bg-section-top-desktop-1.svg');
	}
	
	#top-bottom{
		background-image: url('../images/bg-section-bottom-desktop-1.svg');
	}
	#top1-top{
		background-image: url('../images/bg-section-top-desktop-2.svg');
	}
	#top1-bottom{
		background-image: url('../images/bg-section-bottom-desktop-2.svg');
	}
	#bottom-top{
		background-image: url('../images/bg-footer-top-desktop.svg');
	}
	#grow-together, #conversation,#users {
		display: flex;
		flex-direction: row;
	}
	#grow-together, #users{background-color: hsl(207, 100%, 98%);}
	#conversation{flex-direction: row-reverse;}
	#grow-together div, #conversation div, #users div{
		text-align: left;
		width:40%;
	}
	#grow-together div h1, #conversation div h1, #users div h1{
		font-size: 2em;
		margin: 0px;

	}
	#grow-together div p, #conversation div p, #users div p{
		font-size: 1.05em
		
	}
	#grow-together div img, #conversation div img, #users div img{
		width:100%;
	}

	#footer{
		color: white;
		display: flex;
		background-color: hsl(192, 100%, 9%);
		flex-direction: row;
		width: 100%;

	}
	#footer div{
		width: 100%;
		text-align: left;
		margin: 100px;
	}
	#footer div p{
		font-size: 11px;
		width: 75%;
	}
	#footer-left img{width: 40%;}
	#footer-left p img{
		width: 10px;
		padding-right: 10px;
	}
	#bottom-logo{
		filter: grayscale(100%) contrast(10) invert(1);
		width: 50%;
	}
	#footer-left #contacts{
		margin: 0px;
	}
	#footer-left #contacts p{
		padding-bottom: 10px;
	}
	#subscribe{
		flex-direction: row;
		width: 100%;
	}
	.upper{
		padding-top: 10px;
		padding-bottom: 10px;
		text-transform: uppercase;
		font-size: 16px!important;
		font-weight: 600;
	}
	#subscribe{
		padding-top: 30px;
		margin: 0px!important;
		display: flex;
		flex-direction: row;
	}
	#subscribe input[type=email]{
		width: 70%;
		height: 35px;
		margin: 0px;
		border: none;
		border-radius: 5px;
	}
	#subscribe input[type=submit]{
		width: 25%;
		height: 37px;
		color: white;
		font-family: Open Sans;
		font-weight: 600;
		background-color: hsl(322, 100%, 66%);
		align-self: flex-end;
		border:none;
		border-radius: 5px;
		margin-left: 30px;
	}

	#social{
		padding-top:50px!important;
	}
	#social i{
		font-size: 30px;
		padding-right: 15px;
	}

	footer{
		width: 100%;
	}
*/
	.attribution {width:100%; font-size: 11px; text-align: center; }
	.attribution a { color: hsl(228, 45%, 44%); }
}
