html, body{
	margin: 0px;
	font-family: Open Sans;
	font-weight: 400;
	max-width: 1440px;
	float: none;
	margin: auto;
	border: inset 1px rgba(0,0,0,0.1);

}
header, section, footer, #footer, div{
	text-align: center;
}
header, section, #footer, footer, img, #top-top, #top1-top, #bottom-top, #top-bottom, #top1-bottom{
	width: 100%;
}
header, section, #footer, footer{
	padding-top: 100px;
}
header,#footer,div, section{
	display: flex;
	margin: auto;
}
#mockups{
	display: block;
}
div{
	padding-bottom: 100px;
}
h1{
	font-family: Poppins;
	font-weight: 700;
	width: auto;
}
p{
	width: 50%
}
section,  #details div, section div div, #third-button{
	flex-direction: column;
}

section, section div div{
	align-items: center;
}
section div div{
	text-align: left;
}
#details, #details div,#footer div{
	margin: 0px;
	padding: 0px;
}
#details{
	width: 100%;
	justify-content: space-around;
}
#details div div{
	font-size: 20px;
}
#details div h1{
	margin: 0px;
	font-size: 4em;
}
/*icons*/
div div p {
	display: flex;
	justify-content: flex-start;
}
div div p img{
	width: 50px;
}
#conversation{
	flex-direction: row-reverse;
}
#footer div{
	margin: 20px;
	align-items: flex-start;
	width: 100%;
}
#contacts{
	margin: 0px!important;
}

#footer div p, #footer div div p {
	text-align: left;
}
#bottom-logo {
	width: 250px;
}
#footer div div p {
	margin: 5px 0px;
}
.upper{
	text-transform: uppercase;
	font-weight: 700;
}
#social{
	font-size: 30px;
	letter-spacing: 15px;
}
#top-top, #top1-top, #bottom-top, #top-bottom, #top1-bottom{
	background: no-repeat;
}
#top-top, #top1-top, #bottom-top{
	height: 50px;
	margin: 0px;
	margin-top: 100px;
}
#top-bottom, #top1-bottom{
	height: 40px;
	margin: 0px;
	margin-bottom: 100px;
}
#top-top{
	background-image: url("../images/bg-section-top-desktop-1.svg");
}
#top1-top{
	background-image: url("../images/bg-section-top-desktop-2.svg");
}
#bottom-top{
	background-image: url("../images/bg-footer-top-desktop.svg");
}
#top-bottom{
	background-image: url("../images/bg-section-bottom-desktop-1.svg");
}
#top1-bottom{
	background-image: url("../images/bg-section-bottom-desktop-2.svg");
}

#grow-together, #users{
	background-color: hsl(207, 100%, 98%)
}
#footer{
	background-color: hsl(192, 100%, 9%);
	color: white;
}
#bottom-logo{ 
	width: 250px; 
	filter:grayscale(100%)  contrast(10) invert(1)
}
#contacts img{ width: 18px; height: 15px; margin-right: 15px }

input[type=button],input[type=submit]{
	font-family: Open Sans;
	font-weight: 600;
}
#third-button{
	align-items: center;
}

.btn-first{
	border: 1px solid hsl(322, 100%, 66%);
	background-color: transparent;
	color: hsl(322, 100%, 66%);
	width: 100px;
	height: 30px;
	border-radius: 15px;
}
.btn-second, .btn-bottom{
	border: 1px solid hsl(322, 100%, 66%);
	background-color: hsl(322, 100%, 66%);;
	color: white;
}
.btn-second{
	width: 250px;
	height: 35px;
	border-radius: 15px;
}
.btn-bottom{
	padding:0px;
	width: 150px;
	height: 30px;
	border: 0px;
	border-radius: 5px;
}
.text-email{
	padding: 0px;
	margin-right: 30px;
	border: 0px;
	width: 250px;
	height: 30px;
	border-radius: 5px;
}
.button-shadow{
	box-shadow: -2px 3px 3px rgba(0,0,0,0.4), 2px 3px 3px rgba(0,0,0,0.4);
}
.button-shadow:hover{
	box-shadow: inset -2px 3px 3px rgba(0,0,0,0.4), inset 2px 3px 3px rgba(0,0,0,0.4);
}
.button-shadow:focus{
	box-shadow: inset -2px -3px 3px rgba(0,0,0,0.4), inset 2px -3px 3px rgba(0,0,0,0.4);
}
@media(max-width: 700px){
	#details{
		width: 60%;
		flex-direction: column;
	}
	#details div{
		width: 100%;
		text-align: center;
	}
	#details div div {
		align-items: flex-start;
	}
	#details div div p{
		margin-bottom:0px;
	}
}

@media(max-width: 375px){
	header, section, #footer, footer{
	padding-top: 10px
	}
	header div{ padding: 0px; }
	div{
		padding-top: 50px;
		padding-bottom: 50px;
	}
	div:empty{
		padding-bottom: 0px;
		padding-top:0px;
	}

	h1{width: 100%!important; text-align: center;}
	p{width: 75%; text-align: center;}
	#logo,#mockups{ display: block; }
	#logo img{width: 120px;}
	#details h1{
		font-family: Open Sans;
		font-weight: 600;
		width: 100%!important;
	}
	
	#footer, #grow-together, #conversation, #users{
		flex-direction: column-reverse;;
	}
	#footer div{
		margin: 0px;
		margin-bottom: 50px;
	}
	#footer div *{
		margin: 1px;
		padding: 0px;
		margin-left: 25px;
	}
	#footer form *{
		margin:0px;
	}
	#footer p{
		font-family: Open Sans;
		font-weight: 600;
		width: 80%;
		font-size: 13px;
	}
	#footer form{
		width:85%;
		display: flex;
		flex-direction: column;
		align-items: flex-end;
	}
	#footer input{
		margin-top: 10px;
		height: 40px;
		border: 0px;
	}
	#footer input[type=email]{
		margin-top: 20px;
		width: 100%;
	}
	#footer-left *{
		margin-bottom: 20px!important
	}
	#contacts *{
		margin-bottom: 10px!important
	}
	i{
		font-size: 2em!important;
		font-weight: normal;
		margin:0px!important;
		margin-right: 15px;
	}
	.upper{
		font-size: 1.2em!important;
		margin-bottom: 20px!important;
	}
	
	#top-top,#top1-top,#top1-bottom{
		height: 100px;
		margin:auto;
	}
	#top-bottom{
		height:50px;
		margin:auto;
	}

	#top-top{
	background-image: url("../images/bg-section-top-mobile-1.svg");
	}
	#top1-top{
		background-image: url("../images/bg-section-top-mobile-2.svg");
	}
	#bottom-top{
		background-image: url("../images/bg-footer-top-mobile.svg");
	}
	#top-bottom{
		background-image: url("../images/bg-section-bottom-mobile-1.svg");
	}
	#top1-bottom{
		background-image: url("../images/bg-section-bottom-mobile-2.svg");
	}

}
